@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Toolbelt.Blazor.PWA.Updater
@inject AuthenticationStateProvider _authenticationStateProvider
@inject NavigationManager _navigationManager
 


<head>

    <link rel="stylesheet" href="css/patients.css">
    <link rel="stylesheet" href="css/megagen.css">
</head>
 
<blazoredtoasts />


<div class="page">


    <main style="overflow:hidden;">
        <article style="overflow:hidden;">
            
            <div id="patients-page" >
               
    
                <div id="header">

                    <div class="logo-container">
                        <button class="logo-button" @onclick="NavigateToHome"></button>
                        <span class="logo-text" @onclick="NavigateToHome" >Megagen</span>
                    </div>


                    <div class="logout-container">
                        <AuthorizeView Roles="@RolesMegagen.Admin">
                            <Authorized>
                                <span class="logout-text" @onclick="NavigateToTechnicians">Technicians</span>
                            </Authorized>
                        </AuthorizeView>
                        <AuthorizeView Roles="@($"{RolesMegagen.Admin}, {RolesMegagen.Technician}")">
                            <Authorized>
                                <span class="logout-text" @onclick="NavigateToDoctors">Doctors11</span>
                                <span class="logout-text" @onclick="BeginSignOut">Log out</span>
                            </Authorized>
                            <NotAuthorized>
                                @if (context.User.Identity!.IsAuthenticated)
                                {
                                    <span class="logout-text" @onclick="BeginSignOut">Log out</span>
                                }
                                else
                                {
                                    <span class="logout-text" @onclick="NavigateToLogin">Log In</span>
                                    <span class="logout-text" @onclick="NavigateToRegister">Register</span>
                                }
                            </NotAuthorized>
                        </AuthorizeView>
                    </div>


                </div>
                @Body
    </div>






          
        </article>
    </main>
</div>



@code {
    public string logoUrl = "";
  
    public string technicianName = "";

 

    protected void NavigateToTechnicians()
    {
        _navigationManager.NavigateTo("technicians");
    }
    protected void NavigateToDoctors()
    {

        _navigationManager.NavigateTo("doctors");
    }
    protected void NavigateToLogin()
    {

        _navigationManager.NavigateToLogin("authentication/login");
    }
    protected void NavigateToRegister()
    {

        _navigationManager.NavigateTo("authentication/register");
    }

    protected void BeginSignOut()
    {

        _navigationManager.NavigateToLogout("authentication/logout");
    }
    protected void NavigateToHome()
    {

        _navigationManager.NavigateTo("/");
    }

 

}