body {
    background-color: #20204D;
    padding-top: 5px;
}
#header {
    display: none!important;
}

h6 {
    font-size: 14px;
    
    text-decoration: underline;
    text-underline-offset: 3px;
    user-select:none;
    
 
}

.video-container {
    
}

.el1 {
    height: 40px;
}
.el2 {
    color: #fff;
   /* height: 30px;*/
}
.el4 {
    color: #fff;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    gap: 0px;
}
a {
    color: #fff;
    text-decoration: none;
    padding-bottom: 0;
    font-size: 14px;
    user-select: none;
}
video {
    margin: 0;
    background-color: gray;
    color: white;
    width: 100%;
    max-height: 100%;
    object-fit: contain;
    border: 1px solid white;
}

/* PORTRAIT */

@media screen and (orientation: portrait) {
    .video-container {
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
    }

    .megagen-upper-btns-container {
        
    }

    .el2 , .el4 {
        margin-left: 5px;
    }
    /*el1 should be on center*/
    .el1 {
        display: flex;
        justify-content: center;
        -webkit-align-items: inherit;
        align-items: inherit;
    }
}
 
/* LANDSCAPE */
@media screen and (orientation: landscape) {

    .video-container {
        display: grid;
        gap: 0.8rem;
        grid-template-columns: auto 130px 0;
    }
    .el1,
    .el2,
    .el4 {
        grid-column: 2; /* Acestea vor fi în coloana 2 (partea dreaptă) */
    }

    .el3 {
        margin-left: 4px;
        grid-column: 1 / span 1; /* Va ocupa coloana 1 pe toată înălțimea */
        grid-row: 1 / span 4; /* Va ocupa patru rânduri începând de la rândul 1 */
        max-height: 98vh;
    }
    .megagen-upper-btns-container{
        display: flex;
        gap: 1px;
    }
 /*   .btn1 {
        margin-left:5px!important;
        padding-left: 5px!important;
        text-align: left;
    }*/

}