@page "/technicians"

@attribute [Authorize(Roles = RolesMegagen.Admin)]

<PageTitle>Technicians</PageTitle>
<head>
    @* TODO *@
@*     <link rel="stylesheet" href="css/patients.css">
    <link rel="stylesheet" href="css/megagen.css"> *@
</head>


<h3>Technicians</h3>

@code {

}
