@page "/3d-viewer/{id}"
@inject HttpClient _httpClient
@inject IJSRuntime _jsRuntime
@using Microsoft.AspNetCore.Components
@using System.Security.Claims
@inject AuthenticationStateProvider _authenticationStateProvider


@inject IJSRuntime jsInterop

 

@inject NavigationManager navigationManager

<head>
    <link rel="stylesheet" href="css/megagen.css">
    <link rel="stylesheet" href="css/stl.css">
    <meta property="og:title" content="@ogTitle">
    <script>
        function destroyContainer() {

            var element = document.querySelector('.big-container');
            if (element) {
                element.remove();
            }

            window.spanLoading = document.getElementById('loading-span');
            spanLoading.style.display = 'visible';
            spanLoading.style.zIndex = 50;
            spanLoading.textContent = 'Loading 3D Models...';
        }
    </script>

</head>


<script>
    document.addEventListener("DOMContentLoaded", function () {
        const header = document.getElementById("header");
        header.style.display = "none";
    });
</script>
<script>
    function emptyCacheAndReload() {
        -buttonthen(function (cacheNames) {
            cacheNames.forEach(function (cacheName) {
                caches.delete(cacheName);
            });
        });
        window.location.reload(true);
    }
</script>
<script type="text/javascript">
    function emptyCache() {
        caches.delete("blazor-resources-/").then(function (e) {
            console.log("'blazor-resources-/' cache deleted");
        });
    }


</script>

<div class="megagen-upper-btns-container fixed">
    <button class="menu-button button-35w" @onclick="OpenMenu"></button>
    <button class="pdf-button button-35w" @onclick="OpenPdf"></button>
    <button class="stl-button button-35w" @onclick="OpenStl"></button>

    <button class="video-button button-35w" @onclick="OpenVideo"></button>

   
    @* <button class="refresh-button button-35w" @onclick="Refresh"></button> *@
</div>
<canvas 
        id="canvas-webgl"
        class="webgl"
        style="width:95%;height:95vh; ">
</canvas>

<div id="loading-div">
    <h2 id="loading-span"></h2>
</div>



@code {
    private String ogTitle = "Megagen Reports";
    [Parameter]
    public string? Id { get; set; } 


    DisplayPatient displayPatient = new DisplayPatient();


    protected override async Task OnParametersSetAsync()
    {

        ClaimsPrincipal? currentUser = null;
        string role = "";

        try
        {
            currentUser = (await _authenticationStateProvider.GetAuthenticationStateAsync()).User;
            role = currentUser.Claims.Where(c => c.Type == "role").First().Value;
        }
        catch (Exception)
        {
            //navigate to Login Page
            navigationManager.NavigateTo($"/Login", true);
            return;
        }




        if (role == RolesMegagen.Technician)
        {
            try
            {
                displayPatient = (await _httpClient.GetFromJsonAsync<DisplayPatient>($"api/technician/getPatient/{Id}"))!;
            }
            catch (Exception)
            {
                navigationManager.NavigateTo($"/NotAuthorized", true);
                return;
            }
            if (displayPatient == null)
            {
                navigationManager.NavigateTo($"/NotAuthorized");
                return;
            }






        }
        if (role == RolesMegagen.Doctor)
        {
            try
            {
                displayPatient = (await _httpClient.GetFromJsonAsync<DisplayPatient>($"api/doctor/getPatient/{Id}"))!;
            }
            catch (Exception)
            {
                navigationManager.NavigateTo($"/NotAuthorized", true);
                return;
            }
            if (displayPatient == null)
            {
                navigationManager.NavigateTo($"/NotAuthorized", true);
                return;
            }
        }
        if(role == RolesMegagen.Admin)
        {
            try
            {
                displayPatient = (await _httpClient.GetFromJsonAsync<DisplayPatient>($"api/admin/getPatient/{Id}"))!;
            }
            catch (Exception)
            {
                navigationManager.NavigateTo($"/NotAuthorized", true);
                return;
            }
            if (displayPatient == null)
            {
                navigationManager.NavigateTo($"/NotAuthorized", true);
                return;
            }
        }

        ogTitle = $"{displayPatient.FirstName} {displayPatient.LastName}";




    }
    protected override void OnInitialized()
    {

        base.OnInitialized();
        navigationManager.LocationChanged += HandleLocationChanged!;
    }

    private void OpenPdf()
    {
        if (displayPatient.HasPdf)
        {
            navigationManager.NavigateTo($"pdf/{Id}");
        }
        else
        {
            _jsRuntime.InvokeVoidAsync("alert", "No PDF File Found");
        }

    }
    private void OpenVideo()
    {
        if (displayPatient.HasVideo)
        {
            navigationManager.NavigateTo($"video/{Id}");
        }
        else
        {
            _jsRuntime.InvokeVoidAsync("alert", "No Video Files Found");
        }

    }
    private void OpenStl()
    {
        navigationManager.NavigateTo($"3d-viewer/{Id}",true);
    }
    private void OpenMenu()
    {
        navigationManager.NavigateTo($"/");
    }
    private async Task Refresh()
    {
        await _jsRuntime.InvokeVoidAsync("location.reload");
    }

    private void HandleLocationChanged(object sender, LocationChangedEventArgs args)
    {

     
        if (!args.Location.ToLower().Contains("3d-viewer"))
        {
            _jsRuntime.InvokeVoidAsync("destroy");

            _jsRuntime.InvokeVoidAsync("eval", $"document.getElementById('header').style.display = 'flex';");

        }else
        {
            //emptyCache
            _jsRuntime.InvokeVoidAsync("emptyCache");
            _jsRuntime.InvokeVoidAsync("initScene");
        }
    }

    private void HideHeader()
    {

        _jsRuntime.InvokeVoidAsync("eval", $"document.getElementById('header').style.display = 'none';");
    }

    List<string> files = new List<string>();



    protected override async Task OnAfterRenderAsync(bool firstRender)
    {



        if (firstRender)
        {
            HideHeader();
            try
            {
                //call Javascript function: destroyContainer

                await _jsRuntime.InvokeVoidAsync("destroyContainer");


                var currentUser = (await _authenticationStateProvider.GetAuthenticationStateAsync()).User;
                string role = currentUser.Claims.Where(c => c.Type == "role").First().Value;

             
                
                if (role == RolesMegagen.Technician)
                    displayPatient = (await _httpClient.GetFromJsonAsync<DisplayPatient>($"api/technician/getPatient/{Id}"))!;
                if (role == RolesMegagen.Doctor)
                    displayPatient = (await _httpClient.GetFromJsonAsync<DisplayPatient>($"api/doctor/getPatient/{Id}"))!;
                if (role == RolesMegagen.Admin)
                    displayPatient = (await _httpClient.GetFromJsonAsync<DisplayPatient>($"api/admin/getPatient/{Id}"))!;

            

                await DoThings();
            }
            catch (Exception )
            {

            }

        }


         
    }

    public async Task DoThings()
    {


        string jsonFileLink = displayPatient.Files.Where(f => f.Name.Trim().ToLower().EndsWith(".json")).First().Name;
        string azureJsonFileLink = await _httpClient.GetStringAsync($"/api/Storage/getFileLink/{jsonFileLink}");
        files.Add(azureJsonFileLink);
        string[] stlFilesLinks = displayPatient.Files.Where(f => f.Name.Trim().ToLower().EndsWith(".stl")).Select(f => f.Name).ToArray();
        foreach (string stlFileLink in stlFilesLinks)
        {
            string azureLink = await _httpClient.GetStringAsync($"/api/Storage/getFileLink/{stlFileLink}");
            files.Add(azureLink);
        }

        await _jsRuntime.InvokeVoidAsync("initialize3DViewer", (object)(files.ToArray()));
    }


}
